

@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=popins:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
.main{
    background-image: url("assets/images/bg.jpg");
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 70vh;
    position: relative;
}
nav{
   display: flex;
 max-width: 60vw;
 justify-content: space-between;
  align-items: center;
  margin: auto;
  height: 62px;
}
nav img{
    width: 114px;
    position: relative;
    z-index: 10;
}
button{
    color: white;
    background-color: red;
    border-radius: 5px;
    padding: 7px;
    margin: 9px;
    position: relative;
    z-index: 10;
    cursor: pointer;
    font-size: 20px;
  padding: 3px 24px;

}
.eng-bttn
{
  background-color: rgba(233, 221, 221, 0.279);
  color: rgba(244, 230, 230, 0.962);
  border: 1px solid white;
  border-radius: 5px;
  font-size: 20px;
  padding: 3px 24px;
  cursor: pointer;

}
.box{
    height: 70vh;
    width: 100%;
    opacity: 0.44;
    background-color: black;
    position: absolute;
    top: 0;
}
.hero{
  font-family: "Martel Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    padding: 0 30px;
    text-align: center;
    gap: 15px;
   
}
.hero> :first-child{
    font-weight: bolder;
    font-size:48px;
  
}
.hero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;

}
.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    

}
input{
    background-color: rgba(23, 23, 23, 0.3);
  color: rgba(240, 233, 233, 0.955);
  border: 1px solid white;
  border-radius: 5px;
  font-size: 20px;
  padding: 3px 24px;

}
.seperation{
height: 11px;
background-color: rgb(46, 43, 43);
height: 5px;
position: relative;
z-index: 20;

}
.first{
    display: flex;
    color: white;
    max-width: 70vw;
    margin: auto;
    position: relative;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:1300px) {
    body{
       
        .first{
            flex-wrap: wrap;
        }
        .second{
            flex-wrap: wrap;
        }
    }
    
}
.secImg{
    position: relative;
}
.secImg img{
     position: relative;
     z-index: 10;
     width: 555px;
}
.secImg video{
    position: absolute;
    right: 0;
    top: 51px;
     width: 555px;
}
section.first > div{
    padding: 34px 0;
    display: flex;
    flex-direction: column;
}
.first > div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
}
.first > div :nth-child(2){
    font-size: 24px;
    
}
.second{
    display: flex;
    color: white;
    max-width: 70vw;
    margin: auto;
    position: relative;
    justify-content: center;
    align-items: center;
}
.secImg{
    position: relative;
}
section.second > div{
    display: flex;
    flex-direction: column;
}
.second > div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
}
.second > div :nth-child(2){
    font-size: 24px;
    
}
.faq{
    padding: 5px;
    font-size: 48px;
    background-color: black;
    color: white;
    text-align: center;
   margin: 0 220px;
}
.faq-box{
    transition: all 0.5s ease-out;
    display: flex;
    justify-content: space-between;
    background-color: rgb(44, 43, 43);
    font-size: 25px;
    cursor: pointer; 
    padding: 10px;
}
.faq-box:hover{
    background-color: rgba(125, 113, 113, 0.83);
}
footer {
    color: white;
    max-width: 70vw;
    margin: auto;
    padding: 60px;
}
footer .questions {
    padding: 34px 0;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    
}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
a{
    color: rgba(238, 225, 225, 0.664);
}
a:hover{
    color: aqua;
}
.pak{
    font-size: 20px;
   margin: 5px;
   padding: 10px;
    color: rgba(238, 225, 225, 0.664);

}
